name: GitOps-Tasks
on:
  workflow_run:
    workflows:
      - Deploy
    types:
      - completed
    branches:
      - main
  workflow_dispatch:

jobs:
  Setup:
    name: GitOps Day2 Tasks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout r3dact3d/gitops external repo
        uses: actions/checkout@v2
        with:
          repository: r3dact3d/gitops
          path: gitops
        
      - name: Install OpenShift CLI tools
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          openshift-install: "${{secrets.OCP_CLIENT_VERSION}}"
          oc: "${{secrets.OCP_CLIENT_VERSION}}"
          
      - name: Download Artifacts from Cluster Deploy
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: deploy.yaml
          name: ocp-artifact
          path: ocp-artifact

      - name: Create GitOps 
        run: |
          cp ocp-artifact/auth/kubeconfig $GITHUB_WORKSPACE/kubeconfig
          export KUBECONFIG=$GITHUB_WORKSPACE/kubeconfig
          oc apply -f https://raw.githubusercontent.com/r3dact3d/gitops/main/gitops-operator.yaml -n openshift-operators
          sleep 300
          oc project openshift-gitops
          oc adm policy add-cluster-role-to-user cluster-admin -z openshift-gitops-argocd-application-controller
          cd $GITHUB_WORKSPACE/gitops/appsets
          for appset in $(ls);do oc create -f $appset;done
